<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
					<a href="/docs/providers/index.html">&laquo; Documentation Home</a>
				</li>

				<li<%= sidebar_current("docs-softlayer-index") %>>
					<a href="/docs/providers/softlayer/index.html">Softlayer Provider</a>
				</li>

				<li<%= sidebar_current(/^docs-softlayer-resource-virtual-guest/) %>>
					<a href="#">Virtual Guest Resources</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-softlayer-resource-virtual-guest") %>>
							<a href="/docs/providers/softlayer/r/virtual_guest.html">softlayer_virtual_guest</a>
						</li>
						<li<%= sidebar_current("docs-softlayer-resource-ssh-key") %>>
							<a href="/docs/providers/softlayer/r/ssh_key.html">softlayer_ssh_key</a>
						</li>
					</ul>
				</li>

                <li<%= sidebar_current(/^docs-softlayer-object-storage-resources/) %>>
                    <a href="#">Object Storage Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-softlayer-object-storage-account") %>>
                            <a href="/docs/providers/softlayer/r/object_storage_account.html">softlayer_objectstorage_account</a>
                        </li>
                    </ul>
                </li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
